/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1; /* Flex-grow to take up available space */
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Additional styles for the footer as needed */
}

header {
  background-image: linear-gradient(180deg, #7400B8, #5E60CE, #48BFE3, #80FFDB);
  padding: 20px;
  border: #7400B8 solid;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

.hero img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.hero-text {
  flex: 1;
  margin-left: 20px;
}

.hero p {
  color: #80FFDB;
  font-family: Regular 400;
  font-size: 48px;
  text-shadow: 2px 2px 4px #000000;
  align-items: center;
}

.about-me {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.about-me section {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  animation: mymove 5s;
  animation-fill-mode: backwards;
}

nav a {
  color: #6930C3;
  font-size: large;
  text-shadow: 2px 2px 5px #5E60CE;
  font-family: "SemiBold 600";
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: rgba(78, 168, 222, 0.4);
}

#active {
  animation-timing-function: ease-in-out;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}



.btn-26 {
  background-color: #7400B8;
  color: #80FFDB;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-26::before,
.btn-26::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 168, 222, 0.4);
  transition: transform 0.3s ease-in-out;
}

/* Initial X shape */
.btn-26::before {
  transform: rotate(45deg);
}

.btn-26::after {
  transform: rotate(-45deg);
}

/* Hover state: X rotates and shrinks */
.btn-26:hover::before,
.btn-26:hover::after {
  transform: rotate(45deg) scale(0);
}